@media (min-width: 700px) {
    header {
        justify-content: space-around;
    }

    #hamburger {
        display: none;
    }

    #main-nav {
        display: block;
    }

    .nav-links {
        flex-direction: row;
        gap: 2rem;
    }

    .temple-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    main {
        max-width: 1200px;
    }
}